:root{
    --background:     #E5E5E5;
    --encrypt-button: #0A3871;
    --decrypt-button: #D8DFE8;
    --white:          #FFFFFF; 
    --warning:        #495057; 
    --p-message:      #343A40;
    --p--input:       #495057;
    --font:           'EB Garamond', serif;
}

/** Snippets **/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before,*:after{
    box-sizing: inherit;
}

body{
    background-color: var(--background);
    font-size: 1.6rem;
    line-height: 1.5;
}

/** Globals **/
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

/** Header **/
.header .logo{   
    margin: 3rem 0 4rem -2rem;
}
.encrypter{

}

.encrypter-content{
    padding: 2rem;
}


.input-text .textarea{
    background: var(--background);
    border: none;
    outline: none;
    font-size: 3rem;
    color: var(--encrypt-button);
    resize: none;
}
.warning-img{
    width: 2rem;
    height: 2rem;

} 
.warning{
    display: flex;
    align-items: center;
}
.warning p{
    margin-left: .6rem;
    color: var(--p--input);
    line-height: 1;
    vertical-align: middle;
}

.buttons .btn{
    width: 100%;
    padding: 2rem ;
    border-radius: 1.5rem;
}

.btn-e{
    color: var(--white);
    background-color: var(--encrypt-button);
    border: none;
    margin-bottom: 2rem;
}

.btn-d{
    background-color: var(--background);
    color: var(--encrypt-button);
    border: 2px solid #0A3871;
    margin-bottom: 5rem;    
}
.btn-decrypt{

}

.message .message-textarea{
    width: 98%;
    background: var(--white);
    color: var(--p--input);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding: 3rem ;
    border: none;
    border-radius: 2rem;    
    outline: none;
    resize: none;
    box-shadow:  10px 16px 46px  rgb(156, 155, 155);
}

.message p{
    margin-top: -11rem;
    margin-bottom: 3rem;
    padding: 4rem;
    text-align: center;
    color: var(--p-message);
}

.footer p{
    text-align: center;
    color: var(--encrypt-button);
    font-size: 2rem;
    padding: 2rem;
}
















